[submodule "projects/2026-dvopm"]
	path = projects/2026-dvopm
	url = git@github.com:TheDeanLab/2026-dvopm.git
[submodule "templates/latex-writing-template"]
	path = templates/latex-writing-template
	url = git@github.com:TheDeanLab/latex-writing-template.git
[submodule "projects/2026-star-protocols"]
	path = projects/2026-star-protocols
	url = git@github.com:TheDeanLab/2026-star-protocols.git
[submodule "projects/2026-DPNI"]
	path = projects/2026-DPNI
	url = https://github.com/TheDeanLab/2026-DPNI.git
