###############################################################################
# OS / Editor junk
###############################################################################

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

.idea/
.vscode/
*.swp
*.swo
*~

###############################################################################
# Build output
###############################################################################

build/

###############################################################################
# LaTeX core build artifacts
###############################################################################

*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv

###############################################################################
# Bibliography / biblatex / biber
###############################################################################

*.bbl
*.blg
*.bcf
*.run.xml

###############################################################################
# minted (if ever enabled)
###############################################################################

_minted*
*.pyg
*-SAVE-ERROR

###############################################################################
# latexmk temporary files
###############################################################################

.latexmk/

###############################################################################
# Optional: TeX editor project files
###############################################################################

*.synctex.gz(busy)
